<h1><%= @category.name %></h1>

<%= form_for [@category, @post] do |f| %>
  <%= f.text_field :title, placeholder: "title" %>
  <%= f.text_field :description, placeholder: "description" %>
  <%= f.submit "post" %>
<% end %>

<br/>

<% @posts.each do |post| %>
  <%= link_to post.title, category_post_path(@category.id, post.id) %><br/>
<% end %>

<br/>
<%= link_to "home", user_path(@user.id) %>